/* < error */

.header-error {
    display: flex;
    padding: var(--space-xxs);
    border: 1px solid var(--color-error);
    border-radius: var(--border-radius-md);
    align-items: center;
    position: relative;
    overflow: hidden;
    margin-top: var(--space-sm);
}

.header-error.hidden {
    display: none
}

.header-error::after {
    content: '';
    position: absolute;
    inset: 0;
    opacity: 0.1;
    background: var(--color-error);
}

.header-error .icon_error {
    margin-right: var(--space-4xs);
}

.header-error__icon {
    margin-right: var(--space-4xs);
}

.header-error__message {
    color: var(--color-error);
}

.header-error__text {
    color: var(--color-error);
}

@media screen and (max-width: 1023px) {

    .header-error {
        margin-top: var(--space-xs);
    }
}

/* error > */