.dialog {
    width: 520px;
    background: var(--color-over);
    padding: var(--space-sm);
    border-radius: var(--space-sm);
    box-shadow: 0px 40px 32px 0px var(--color-base-shadow-5, rgba(110, 135, 175, 0.05)), 0px 0px 32px 0px var(--color-base-shadow-10, rgba(110, 135, 175, 0.10));
    position: relative;
}

.dialog__close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    position: absolute;
    top: var(--space-sm);
    right: var(--space-sm);
    z-index: 1;
}

.dialog-sbp {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.dialog-sbp__list {
    padding: 0 var(--space-sm);
}

.dialog-sbp__icon {
    background-position: center;
}

.dialog-sbp__title {
    font-size: 16px;
    font-weight: 600;
    color: var(--color-dark);
}

.dialog-sbp__text {
    font-size: 14px;
    color: var(--color-grey-dark);
}

.dialog-sbp__item {
    font-size: 14px;
    color: var(--color-grey-dark);
}

.dialog__header {
    color: var(--color-dark);
}

.dialog__content {
    display: flex;
    flex-direction: column;
    row-gap: var(--space-xs);
}

@media screen and (max-width: 639px) {
    .dialog__close {
        width: 24px;
        height: 24px;
        top: var(--space-xs);
        right: var(--space-xs);
    }
}